$blanc: #ffffff;
$gris: #aaaaaa;
$gris_clair: #d4d4d4;
$gris_clair2: #c4c4c4;
$gris_clair3: #727272;
$gris_fonce: #333333;
$gris_fonce2: #39434f;
$bleu: #4fabfe;
$bleu__opacite: #4fabfeaa;
$bleu_clair: #00c6ff;
$degrade: linear-gradient(to top left,#1c95da,#00c6ff);